<section>
    <div class="container">
        
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="alert alert-danger" role="alert" ng-show="hasError" >{{errorMsg}}</div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                </div>

                <div style="padding-top:30px" class="panel-body">

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form">
                         <div style="margin: 10px 3px 3px" class="form-group">
                            
                            <input id="login-username" type="text" class="form-control" ng-model="instanceUrl" name="instanceUrl" value="" placeholder="ServiceNow instance name">
                        </div>
                        

                        <div style="margin-bottom: 25px" class="input-group">
                            <span ng-if="instanceUrl.length==0">https://{instance}.service-now.com</span>
                            <span ng-if="instanceUrl.length>0">https://{{instanceUrl}}.service-now.com</span>
                        </div>
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="login-username" type="text" class="form-control" ng-model="userName" name="userName" value="" placeholder="username or email">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="login-password" type="password" class="form-control" name="password" placeholder="password" ng-model="password">
                        </div>
                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->

                            <div class="col-sm-12 controls">
                                <a id="btn-login" class="btn btn-success"  ng-click="login()">Login  </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>